<div class="row info">
  <div class="col-md-1 info">sdf</div>
  <div class="col-md-5">sdf</div>
  <div class="col-md-5">sdf</div>
  <div class="col-md-1">sdf</div>
</div>
<table>
  <tr class="info"><td>wft!!</td></tr>
</table>
