  <div class="row info">
    <div class="col-md-1 info"></div>
    <div class="col-md-10">
      <div ng-view="">

      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <table>
    <tr class="info"><td>wft!!</td></tr>
  </table>



