<div id="main_container">
	<div ng-repeat="wiki in wikis">
		<div class="panel panel-info">
			<div class="panel-heading">
<!-- 				<a class="text-muted" ng-click='go("/wikis/{{wiki.id}}")'> -->
				<a class="text-muted" href="/wikis/{{wiki.id}}" target="_self">
				<h3>{{wiki.description}}</h3>
			</a>
			</div>
			<div ng-repeat="article in wiki.articles">
				<div class="panel-body">
					<p ng-bind-html="{{ article.title | unsafe }}"></p>
					<p>{{article.content}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
